.TopArrangement{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.TopArrangement h1{
    font-size: 20px;
}

.panelDiv {
  background-color: lightgrey;
  border-radius: 20px;
}

.contentsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 10px;
}

.photoWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.deletionIconsWrapper {
    position: absolute;
    font-size: 30px;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}
